:root {
    --fuentePrincipal: Outfit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    font-family: var(--fuentePrincipal);
}

header {
    color: white;
    background-color: #2B2A2B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .titleLogo {
    display: flex;
    align-items: center;
}

header .logo {
    width: 20.29px;
}

header .title {
    font-size: 23.46px;
    font-weight: 400;
    text-align: left;
    margin: 1rem 0.3rem 1rem 2rem;
}

header .navBar ul a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 14px;
}

header .contactLogin {
    display: flex;
}

header .contactLogin .phoneLogo {
    display: flex;
    align-items: center;
}

header .contactLogin .phoneLogo img,
header .contactLogin .phoneLogo p {
    margin-right: 0.8rem;
    font-size: 14px;

}

header .contactLogin .buttonLogin {
    background-color: #515051;
    border: none;
    padding: 12px 24px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
}

header .carrito {
    padding: 1rem;
    margin-right: 0.6rem;
}

/************************************************/
main {
    background-color: rgb(227, 222, 215);
    padding: 48px 40px;
}

main .mainContainer {
    display: flex;
    gap: 0.5rem;
}

main .mainContainer .mainImage {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
    height: min-content;
    margin: 0 auto;
}

main .mainContainer .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}
main .mainContainer .mainContent *{
    padding: 0.5rem 0;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


main .mainContainer .mainContent .mainSubtitle {
    font-size: 18px;
    color:rgb(42, 91, 69);
}

main .mainContainer .mainContent .mainTitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
}

main .mainContainer .mainContent .mainButton button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.3) 0px 6px 6px;}

main .mainContainer .mainContent .mainButton .buttonMain1 {
    background-color: rgb(31, 24, 21);
    margin-right: 0.4rem;
}

main .mainContainer .mainContent .mainButton .buttonMain2 {
    background-color: rgb(42, 91, 69);
    margin-left: 0.4rem;
}
/************************************************/
.firstSection {
    background-image: url(../img/cafeDeFondo.jpeg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    margin: auto 0;
    padding: 3rem;
}

.firstSection  .fsTitle {
    font-size: 24px;
    line-height: 28px;
    color: white;
    margin-bottom: 0.5rem;
}
.firstSection .fsCards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstSection .fsCards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 245, 243, 1);
    border-radius: 4px;
    width: 19.75rem;
    height: 14.5rem;
    margin: 1rem;
    padding: 0.8rem;
}
 .fsCards .card div,.fsCards .card h3,.fsCards .card p {
    margin: 0.5rem 0;
 }

.firstSection .card div {
    background-color: rgba(42, 91, 69, 1);
    display: inline-block;
    padding: 1rem;
    border-radius: 20px;
}
/************************************************/
.ssTitle {
    text-align: center;
    color: rgba(42, 91, 69, 1);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.ssContainerCart {
    display: flex;
    justify-content: space-around;
}
.ssContainerCart .ssCart{
    text-align: center;
    border: 2px solid grey;
    padding: 1.5rem;
}
.ssContainerCart .ssCart .add{
    background-color: rgba(42, 91, 69, 1);
    border-radius: 4px;
    padding: 0.5rem;
    color: white;
    border: none;
}
.ssVerMas {
    text-align: center;
}