:root {
  --fuentePrincipal: Outfit;
  --parrafoTamaño: 14px;
  --borderRadiusButton: 4px;
  --textShadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  font-family: var(--fuentePrincipal);
  outline: none;
}

p,
a {
  font-size: var(--parrafoTamaño);
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  border-radius: var(--borderRadiusButton);
  padding: 12px 24px !important;
  cursor: pointer;
}

/*********************************************/
header {
  color: white;
  background-color: #2b2a2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  cursor: pointer;
}

header .titleLogo {
  display: flex;
  align-items: center;
}

header .logo {
  width: 20.29px;
}

header .title {
  font-size: 23.46px;
  font-weight: 400;
  text-align: left;
  margin: 1rem 0.3rem 1rem 2rem;
}

header .navBar ul a {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
}

header .contactLogin {
  display: flex;
}

header .contactLogin .phoneLogo {
  display: flex;
  align-items: center;
}

header .contactLogin .phoneLogo img,
header .contactLogin .phoneLogo p {
  margin-right: 0.8rem;
}

header .contactLogin .buttonLogin {
  background-color: #515051;
  border: none;
  color: white;
  border-radius: var(--borderRadiusButton);
}

header .carrito {
  padding: 1rem;
  margin-right: 0.6rem;
}

/************************************************/
main {
  background-color: rgb(227, 222, 215);
  padding: 48px 40px;
}

.mainContainer {
  display: flex;
  gap: 0.5rem;
}

.mainContainer .mainImage {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
  margin: 0 auto;
}

.mainContainer .mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.mainContainer .mainContent * {
  padding: 0.5rem 0;
  text-shadow: var(--textShadow);
}

.mainContainer .mainContent .mainSubtitle {
  font-size: 18px;
  color: rgb(42, 91, 69);
}

.mainContainer .mainContent .mainTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
}

main .mainContainer .mainContent .mainButton button {
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
}

.mainContainer .mainContent .mainButton .buttonMain1 {
  background-color: rgb(31, 24, 21);
  margin-right: 0.4rem;
}

.mainContainer .mainContent .mainButton .buttonMain2 {
  background-color: rgb(42, 91, 69);
  margin-left: 0.4rem;
}

/************************************************/
.firstSection {
  background-image: url(../img/cafeDeFondo.jpeg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  margin: auto 0;
  padding: 3rem;
}

.firstSection .fsTitle {
  font-size: 1.5rem;
  line-height: 28px;
  color: white;
  margin-bottom: 0.5rem;
}

.firstSection .fsCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstSection .fsCards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 245, 243, 1);
  border-radius: 8px;
  width: 19.75rem;
  height: 14.5rem;
  margin: 1rem;
  padding: 0.8rem;
}

.card h3 {
  font-weight: 600;
}

.fsCards .card div,
.fsCards .card h3,
.fsCards .card p {
  margin: 0.5rem 0;
}

.firstSection .card div {
  background-color: rgba(42, 91, 69, 1);
  display: inline-block;
  padding: 1rem;
  border-radius: 20px;
}

/************************************************/
.ssTitle {
  text-align: center;
  color: rgba(42, 91, 69, 1);
  text-shadow: var(--textShadow);
}

.ssContainerCart {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ssTitle,
.ssContainerCart,
.ssVerMas {
  margin: 1.5rem 0;
}

.ssCart h3,
.ssCart p {
  margin: 1rem 0;
}

.ssContainerCart .ssCart {
  text-align: center;
  padding: 1.5rem;
  border: 1px solid rgba(227, 222, 215, 1);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.25s ease-in-out;
  margin: 1.2rem;
}

.ssContainerCart .ssCart:hover {
  background-color: rgba(227, 222, 215, 1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ssContainerCart .ssCart .add {
  background-color: rgba(42, 91, 69, 0.7);
  padding: 0.5rem;
  color: white;
  border: none;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.ssContainerCart .ssCart:hover .add {
  background-color: rgba(42, 91, 69, 1);
  transform: scale(1.05);
}

.ssVerMas {
  text-align: center;
}

.ssVerMas a {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-size: 0.9rem;
  text-shadow: var(--textShadow);
  margin-right: 0.7rem;
}

/***************************************************/
.thirdSection {
  background-color: rgb(42, 91, 69);
  color: white;
  text-align: center;
  padding: 2rem;
}

.tsTitle,
.tsContainerContent,
.tsVerMas {
  margin: 2rem 0;
}

.tsContainerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tsContent {
  background-color: white;
  color: black;
  width: 65%;
  margin: 0.7rem 0;
  padding: 1.5rem;
  border-radius: 10px;
}

.tsContent hr {
  margin: 1rem 0;
}

.tsContent .pregunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pregunta h3 {
  font-size: 18px;
}

.tsContent p {
  text-align: left;
}

.tsText {
  font-size: 12px;
  color: #2b2a2b;
}

.tsVerMas a {
  color: white;
  margin-right: 0.7rem;
}

/***************************************************/
.fourthSection {
  padding: 48px 40px;
  background-color: rgb(247, 245, 243);
}

.fourthSection .fsContainer {
  display: flex;
  gap: 0.5rem;
}

.fsContainer .fsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.fsContainer .fsImage {
  margin: 0 auto;
}

.fsContainer .fsContent * {
  padding: 0.5rem 0;
}

.fsContainer .fsContent .fsSubtitle {
  font-size: 18px;
  color: rgb(42, 91, 69);
}

.fsContainer .fsContent .fsTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
}

.fsVerMas {
  display: flex;
  align-items: center;
}

.fsVerMas a {
  color: black;
  margin-right: 0.8rem;
}

/***************************************************/
.fifthSection {
  display: flex;
  background-color: rgb(227, 222, 215);
  justify-content: space-between;
}

.contactContainer {
  margin: auto 2.5rem;
  color: #6b7280;
}

.contactContainer h3 {
  color: rgb(17, 24, 39);
}

.contactContainer p {
  margin: 1rem 0;
}

.contactContainer .contactNumEmail {
  display: flex;
  align-items: center;
}

.contactContainer .contactNumEmail img {
  margin-right: 1rem;
}

.contactContainer .contactNumEmail a {
  color: black;
}

.contLabelInput {
  display: flex;
  flex-direction: column;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  padding: 2rem 2rem 0 2rem;
  width: 588px;
}

form .contLabelInput input,
form textarea {
  border: 1px solid rgba(209, 213, 219, 1);
  padding: 9px 13px;
  border-radius: 6px;
}

form .contLabelInput input:hover,
form textarea:hover {
  border: 1px solid rgba(155, 158, 163, 1);
}

form .contLabelInput input:focus,
form textarea:focus {
  border: 2px solid rgba(63, 143, 107, 1);
  transition: 0.2s ease-in-out;
}

form label {
  color: rgb(55, 65, 81);
  font-size: 0.8rem;
}

.phoneOptions {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.phoneOptions input {
  display: inline-block;
}

.phoneOptions select {
  height: 100%;
  border: 1px solid rgba(209, 213, 219, 1);
  padding: 8px 10px;
  border-radius: 6px;
}

.phoneOptions select:hover {
  border: 1px solid rgba(155, 158, 163, 1);
}

.phoneOptions select:focus {
  border: 2px solid rgba(63, 143, 107, 1);
  transition: 0.2s ease-in-out;
}

form div,
form textarea,
form button {
  margin: 0.8rem 0.4rem;
}

form .terms {
  display: flex;
  color: rgb(55, 65, 81);
}

form .terms input {
  margin-right: 0.5rem;
}

form .terms a {
  cursor: pointer;
  color: rgb(55, 65, 81);
}

.formSubmit {
  background-color: rgba(42, 91, 69, 1);
  border: none;
  color: white;
  margin-bottom: 0.5rem;
}

footer {
  background-color: rgb(31, 24, 21);
  color: rgba(255, 255, 255, 1);
  padding: 1.5rem 2.5rem;
}

.footTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.footTitle h2 {
  margin-right: 0.5rem;
}

.footContainer {
  display: flex;
}

.footContact div {
  display: flex;
  align-items: center;
  background-color: rgb(81, 80, 81);
  padding: 12px 24px;
  width: fit-content;
  border-radius: 4px;
  margin: 1rem 0;
}

.footContact div p {
  margin-left: 1rem;
}

.footContact {
  width: 50%;
}

.navigationsFooter {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footNavigation,
.footTerms {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.footNavigation a,
.footTerms a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin-bottom: 1rem;
}

.footCopyright {
  background-color: rgba(43, 42, 43, 1);
  color: rgba(255, 255, 255, 1);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footCopyright p {
  font-size: 0.9rem;
}

/************************************************/
/**TIENDA**/
.titleTienda {
  text-shadow: none;
}

.agotadoTienda {
  opacity: 0.4;
}

header .navCarrito a {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

header .navCarrito a p {
  background-color: rgba(247, 245, 243, 0.1);
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
}

/*************************************************/
/**CESTA**/
.cestaTitle {
  text-align: center;
  color: rgb(42, 91, 69);
  font-size: 1.5rem;
  margin: 2.5rem 0;
}
.containerCesta {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
.contProdEnvioAndTipoEnvio {
  width: 60%;
}
/*PROD ENVIO*/
.prodEnvio .resumenCesta div img {
  width: 55px;
  margin-right: 1rem;
}

.prodEnvio .resumenCesta .moreLess {
  display: flex;
  align-items: center;
}
.joinDivs {
  display: flex;
}
.prodEnvio .resumenCesta .moreLess * {
  padding: 0.5rem 0.7rem;
}
.prodEnvio .resumenCesta .moreLess .cantidadCesta {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.053);
  border-radius: 50%;
}
.prodEnvio .resumenCesta .moreLess .btn {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.prodEnvio .resumenCesta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.prodEnvio .resumenCesta .productDetail {
  display: flex;
}
.prodEnvio .resumenCesta .productDetail div .bagsNames {
  font-weight: bold;
  font-size: 16px;
}
/*CONTAINER TIPO ENVIO*/
.containerTipoEnvio .contOpcionEnvio {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.containerTipoEnvio .contOpcionEnvio input {
  margin: 0.5rem 1.5rem 0.5rem 0.5rem;
}
.priceResumen {
  font-size: 18px;
}

/*TOTAL CESTA*/
.totalCesta {
  background-color: rgb(247, 245, 243);
  padding: 1.5rem;
  height: fit-content;
}
.totalCesta hr {
  margin: 0.5rem 0;
}
.totalCesta .totCestaPrecios {
  display: flex;
  justify-content: space-between;
}
.totalCesta .totCestaPrecios p {
  margin-bottom: 10px;
}
.totalCesta .totCestaPrecios .ivaDetail {
  font-size: 12px;
  color: rgb(81, 80, 81);
}

.totalCesta .totalCestaButtons button {
  border: none;
  margin-top: 1rem;
}
.totalCesta .totalCestaButtons .btnCheckout {
  background-color: rgba(42, 91, 69, 1);
  color: white;
}
.totalCesta .totalCestaButtons .btnSeguir {
  background-color: rgb(247, 245, 243);
  color: rgba(42, 91, 69, 1);
}
.negritas {
  font-weight: bold !important;
}
.copyRightsCesta {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/*************************************************/
/*JS*/
.showContent {
  display: none;
}
.rotate{
  transform: rotate(180deg);
}
/*JS*/